<header>
  <h1>Records history</h1>
</header>
<main>
  <nav class="navbar">
    <a href="/images">Search Image</a> |
    <a href="/images/searchedimages"> Your searched history</a> |
    <a href="/likes"> Your liked history</a>
  </nav>

  <div class="content__container">
    <h2>What _______________________ When</h2>
    {{#each records}}
    <p>{{this.query}} _________________________________ {{this.created_at}}</p>


    {{/each}}
  </div>
</main>