<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Image Dashboard</title>
  <link rel="stylesheet" href="styles/styles.css">

</head>

<body>

  {{{body}}}
  <script src="https://use.fontawesome.com/6821c906cd.js"></script>
</body>

</html>